<% @articles.each do |article| %>
  <p><%= article.title %></p>
  <p><%= article.content %></p>
  <%= link_to 'Edit Article', edit_article_path(article)%>
  <%= link_to 'Show', article_path(article) %>
<% end %>