<!DOCTYPE html>
<html>
<body>

<h2>New Article Form</h2>

<form>
  Title:<br>
  <input type="text" name="title">
  <br>
  Content:<br>
  <input type="text" name="content">
  <br><br>
  <input type="submit" value="Create Article">
</form> 

</body>
</html>